# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
node_modules/
.env
src/config/

microfinance-app-008-firebase-adminsdk-fbsvc-0a26e085b6.json

google-services.json

# Firebase / Google secrets
firebase-service-account.json